In [6]:
import numpy as np 
import csv

train_data=np.loadtxt("Training_dataset.csv",delimiter=",")
x=train_data[:,:10]
y=train_data[:,10]

from sklearn.linear_model import LinearRegression
alg5=LinearRegression()
alg5.fit(x,y)
test_data=np.loadtxt("Testing_dataset.csv",delimiter=",")
X=test_data[:,:10]
y_pred=alg5.predict(X)
y_pred=np.round(y_pred,5)
print(y_pred)
np.savetxt("Predicted_Values_Linear.csv", y_pred, delimiter=",")

[105.52975 105.80392 178.60857  79.38288  52.95869  98.87264 150.71755
  34.86515 113.13536 161.50184 135.86156  94.71592 138.48094 141.37442
 158.76863 171.65289 106.44836 103.9266   95.38694 167.40118 166.53426
 101.53465 252.45036 147.02259 214.78907 161.27557 210.61315  71.78092
 189.65032 206.61343 219.98643 168.80193 116.84846 178.744    77.03247
  59.54633 111.56738 156.95187 154.59591 198.94457 115.53884 153.46699
  84.9618  113.70337 142.14156 147.3104   82.78072  77.89237 128.99006
 261.58712 213.31188 243.98791 167.68132 183.69712 166.85927 202.1144
 220.39236 172.40288 176.60898 109.04657 276.3779   90.99942 289.37221
 119.56253  75.45688 180.78599 146.62093 156.42382  41.07904 247.90645
 207.99121  90.09641 222.2417  189.86378 182.26954 164.39881 190.27067
 105.44868 199.86136 245.79639 123.20281 119.41032 145.8662  206.19247
 150.86282 142.23222 154.56875 115.29233 134.0781  118.42225 203.57676
 170.66484 127.4098   57.13508 231.92227 185.20714 187.37495  83.55921
 185.42586 217.34036 108.86715  80.98715 127.05524 242.00739 155.97234
 125.67575 246.41236 234.96393 191.51298 168.33254 163.02965]

In [1]:
from sklearn import datasets
boston=datasets.load_boston()
x=boston.data
y=boston.target

In [23]:
import pandas as pd
import numpy as np


df=pd.DataFrame(x)
b=np.arange(9,23)
df.columns=b
j=0
for i in range(14,28,1):
    df[i]=df. **2
    j=j+1
    


X=df.values
df.describe()

SyntaxError: invalid syntax (<ipython-input-23-41848bd3c23d>, line 8)

In [7]:
print(X.shape)
print(x.shape)

(506, 14)
(506, 13)

In [8]:
from sklearn import model_selection
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y,random_state=0)
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(X,y,random_state=0)

In [9]:
from sklearn.linear_model import LinearRegression
alg1=LinearRegression()
alg2=LinearRegression()

In [10]:
alg1.fit(x_train,y_train)
alg2.fit(X_train,Y_train)

LinearRegression()

In [12]:
y_pred=alg1.predict(x_test)
train_score=alg1.score(x_train,y_train)
test_score=alg1.score(x_test,y_test)
print("ALG1",train_score,test_score)

train_score2=alg2.score(X_train,Y_train)
test_score2=alg2.score(X_test,Y_test)
print("ALG2",train_score2,test_score2)

ALG1 0.7697699488741149 0.6354638433202129
ALG2 0.7707245449911091 0.6433109272342966

In [20]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [28]:
import pandas as pd
import numpy as np
b=np.arange(9,22)

df=pd.DataFrame(x)
df.columns=b
j=9
for i in range(24,38,1):
    df[i]=df.9 **2
    j=j+1
df.describe()

SyntaxError: invalid syntax (<ipython-input-28-500b27995ed8>, line 9)